{% extends "base.html" %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% for maker in makers %}

                    <div class="col-md-3">
                        <b>{{ maker }} </b>
                    </div>
                   
                {% endfor %}
            </div>
        </div>


            {% for maker, cereals in makers.items %}

                <div class="row">

                    <h3>{{ maker }}</h3>
                    
                    {% for cereal in cereals.values %}
                        <div class="col-md-4">
                        {{ cereal.name }}

                        </div>
                    {% endfor %}
                    
                    
                </div>
            {% endfor %}

    </div>

{% endblock %}